.card {
  width: 608px;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 12px;
  background-color: #FFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

  color: #1F2937;
  font-family: 'Pretendard';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.check-circle {
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  border: 2px solid #E5E7EB;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3px;
}

.check-circle.checked {
  border: 2px solid #3B82F6;
  background: #3B82F6;
}

.check-img {
  width: 14px;
  height: 10px;
}

.card.done {
  color: #9CA3AF;
  opacity: 50%;
}

.card.done .card-done {
  text-decoration: line-through;
}

.delete-icon {
  font-size: 20px;
  border: none;
  background: none;
  margin-left: auto;
  margin-right: 10px;
}