.card {
  width: 608px;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 12px;
  background-color: #FFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

  color: #1F2937;
  font-family: 'Pretendard';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.todo-check-label {
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 1;
  cursor: pointer;
}

.checkbox-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  pointer-events: none;
}

.check-circle {
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  border: 2px solid #E5E7EB;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3px;
}

.check-circle.checked {
  border: 2px solid #3B82F6;
  background: #3B82F6;
}

.check-img {
  width: 14px;
  height: 10px;
}

.card.done {
  color: #9CA3AF;
  opacity: 50%;
}

.card.done .card-done {
  text-decoration: line-through;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.category-tag {
  display: flex;
  height: 26px;
  width: fit-content;
  padding: 3.6px 11.744px 4.4px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 13421800px;
  font-size: 12px;
  font-weight: 500;
}

.category-공부 {
  background: #3B82F620;
  color: #3b82f6;
}

.category-운동 {
  background: #22C55E20;
  color: #22c55e;
}

.category-개인 {
  background: #A855F720;
  color: #a855f7;
}

.category-업무 {
  background: #F59E0B20;
  color: #f59e0b;
}

.edit-input {
  display: flex;
  padding: 8px 12px;
  align-items: center;
  border-radius: 8px;
  border: 2px solid #3B82F6;
  background: rgba(255, 255, 255, 0.00);
  box-shadow: 0 0 0 4px #3B82F6;
  font-size: 14px;
}

.edit-actions {
  display: flex;
  gap: 8px;
}

.save-button {
  display: flex;
  padding: 10px 18px 10px 18px;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  border: none;
  background: #3B82F6;
  color: #FFFFFF;
  cursor: pointer;
}

.cancel-button {
  display: flex;
  padding: 10px 18px 10px 18px;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  border: 2px solid #E5E7EB;
  background: #FFFFFF;
  color: #374151;
  cursor: pointer;
}

.card-actions {
  display: flex;
  gap: 8px;
}

.card-actions button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
}

.delete-icon {
  font-size: 20px;
  border: none;
  background: none;
  margin-left: auto;
  margin-right: 10px;
}