.card {
  width: 640px; 
  height: 56px;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 12px;
  background-color: #FFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

  color: #1F2937;
  font-family: 'Pretendard';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.card-label:has(.card-input:checked) {
  text-decoration: line-through;
}

.card:has(.card-input:checked){
    opacity: 0.5;

}
.card-label:has(.card-input:checked) .card-checkbox-ui {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;

  border-radius: 13421800px;
  border: 2px solid #3B82F6;
  background: #3B82F6;
}

.card-label:has(.card-input:checked) .card-checkbox-icon {
  width: 14px;
  height: 10px;
  flex-shrink: 0;
  display: block;
  
}



.card-label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  flex: 1;
  min-width: 0;
}

.card-input {
  display: none;
}

.card-checkbox-ui {
  width: 24px;
  height: 24px; 

  border-radius: 9999px;
  border: 2px solid #E5E7EB;  
}

.card-delete-button {
  border: none;
  background: none;
  cursor: pointer;

  color: #0A0A0A;
  text-align: center;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
}