.todo {
  width: 608px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.title {
  display: flex;
  align-items: center;
  gap: 16.95px;
  margin-top: 90px;
  margin-bottom: 22px;
  font-family: 'Pretendard';
  font-size: 24px;
}

.title-text {
  margin: 0;
  color: #1f2937;
  font-family: 'Pretendard';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  padding: 0;
}

.card-checkbox {
  display: none;
}

.empty {
  width: 608px;
  height: 233px;
  border-radius: 12px;
  background: #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10);
}

.empty-icon {
  color: #0A0A0A;
  text-align: center;
  font-size: 48px;
  padding-top: 64px;
}

.empty-text {
  color: #6B7280;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}