:root {
  --text: #1F2937;
  --bg: #f9fafb;
  --border: #e5e4e7;
  
  font-family: 'Pretendard Variable', 'Pretendard', system-ui, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: var(--text);
  background-color: var(--bg);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}


#root {
  width: 100%; /* 과제 디자인에 맞춰 1126px 대신 100%로 유연하게 조절 가능 */
  max-width: 1126px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: "Pretendard Variable", Pretendard, sans-serif;
}

h1, h2, p {
  font-family: 'Pretendard Variable', 'Pretendard', sans-serif;
  margin: 0;
}